.root{
    -fx-background-image: url("https://image.freepik.com/vector-gratis/fondo-vector-triangular-poligono-mosaico-azul_53562-2331.jpg");
    -fx-background-size: cover, auto;
}

.button{
-fx-background-color: #0E0E9A;
-fx-border-color: white;
-fx-border-width: 2;
-fx-text-fill: white;
-fx-font-weight: bold;
-fx-font-size: 17;
}

.table-view{
-fx-pref-height: 500;
-fx-pref-width: 400;
-fx-background-color: white;
-fx-font-weight: bold;
-fx-font-size: 14;
}