.root{
    -fx-background-image: url("https://img.freepik.com/foto-gratis/textura-marmol-negro-patron-natural-trabajos-arte-fondo-o-diseno_24076-444.jpg?size=626&ext=jpg");
    -fx-background-size: cover, auto;
}

.button{
-fx-background-color: #111113;
-fx-border-color: #000000;
-fx-border-width: 2;
-fx-text-fill: white;
-fx-font-weight: bold;
-fx-font-size: 17;
}

.table-view{
-fx-pref-height: 500;
-fx-pref-width: 400;
-fx-background-color: black;
-fx-font-weight: bold;
-fx-font-size: 14;
}