.root{
    -fx-background-image: url("https://img.freepik.com/foto-gratis/textura-marmol-negro-patron-natural-trabajos-arte-fondo-o-diseno_24076-444.jpg?size=626&ext=jpg");
    -fx-background-size: cover, auto;
}

.label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 60;
 }

.button{
-fx-pref-width: 100;
-fx-pref-height: 100;
-fx-background-color: #282831;
-fx-border-color: black;
}

